.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll !important;
  overflow-x: hidden !important;
}
.routerLine {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  div {
    margin-left: 2%;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
  }
}
.clickLink {
  color: #373737;
  font-size: 19px !important;
  font-weight: 700;
  position: relative;
}
.redLine {
  box-sizing: border-box;
  position: absolute;
  bottom: 3px;
  left: 18%;
  width: 60%;
  height: 3px;
  background-color: #ec4141;
}
.content {
  width: 100% !important;
  height: calc(100% - 50px);
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
}
