.musicControl {
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .controlContent {
    width: fit-content;
    height: 100%;
    position: relative;
    display: flex;
    .btns {
      width: fit-content;
      height: 100%;
      display: flex;
      align-items: center;
      .icon {
        font-size: 25px;
        cursor: pointer;
      }
      .icon:hover,
      .icon2:hover {
        color: #898989;
      }
      .icon2 {
        font-size: 30px;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .songDetail {
      width: fit-content;
      height: 100%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      margin-left: 30px;
      .otherDetail {
        width: 600px;
        height: 100%;
        overflow: hidden;
        .textContent {
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          padding-top: 5px;
          align-items: center;
          padding-left: 8px;
          .name {
            font-size: 12px;
            color: #2f2f2f;
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .singer {
            font-size: 12px;
            color: #7a7a7a;
            margin-left: 20px;
            max-width: calc(100% - 150px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .slider {
          width: 100%;
          height: 20px;
          margin-top: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .time {
          width: fit-content;
          height: 100%;
          margin-left: 5px;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
        }
        .iconContent {
          margin-left: 10px;
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
  }
  .songListContainer {
    position: absolute;
    right: 0;
    bottom: 53px;
    width: 27.5vw;
    height: calc(100vh - 117px);
    overflow: scroll;
    overflow-x: hidden;
    z-index: 10000;
    background-color: #fff;
    .title {
      width: 90%;
      margin-left: 5%;
      height: 90px;
      padding-top: 20px;
      overflow: hidden;
      border-bottom: 1px solid #f2f2f2;
      .text1 {
        font-weight: 700;
        color: #333333;
        font-size: 19px;
      }
      .text2 {
        margin-top: 10px;
        color: #d3d3d3;
      }
    }
    .songsContent {
      width: 90%;
      height: auto;
      margin-left: 5%;
    }
  }
}
