.main {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
}
.tagContent {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.btn {
  width: 100px;
  height: 31px;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  color: #373737;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  line-height: 31px;
}
.tags {
  position: absolute;
  right: 10px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
}
.tag {
  margin-left: 15px;
  cursor: pointer;
  color: #373737;
  border-radius: 25px;
  width: fit-content;
  height: fit-content;
}
.tag:hover {
  color: black;
}
.popTitle {
  width: 700px;
  height: 50px;
  line-height: 50px;
}
.popContent {
  height: 380px;
  width: 700px !important;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
}
.songListContent {
  width: 100%;
  height: 500px;
}
.oneTagContent {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  margin-top: 10px;
  .left {
    width: 15%;
    text-align: center;
    overflow: hidden;
    .categories {
      color: #333333;
      font-size: 15px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
    }
  }
  .right {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    .tagInPop {
      margin-top: 5px;
      border-right: 2px solid #dad8df;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 25px;
      width: fit-content;
      height: fit-content;
    }
    .tagInPop:hover {
      color: black;
    }
  }
}
.songListContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}