.main {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow: hidden;
}
.bannerArea {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.bannerBox {
  width: 100%;
  height: 300px;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  width: calc((100vw - 195px) * 0.6) !important;
  height: 300px !important;
}
.img {
  width: calc((100vw - 195px) * 0.6) !important;
  height: 300px !important;
}
.blurImg {
  filter: blur(64px);
  width: 100% !important;
  height: 100%;
}
.arrowBox {
  position: absolute;
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.arrowBox:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.arrowBox:nth-child(1) {
  left: calc((100vh - 195px) * 0.3);
}
.arrowBox:nth-child(2) {
  right: calc((100vh - 195px) * 0.3);
}
.songListArea,
.newestSongArea {
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  .getSongListText,
  .newestSongText {
    color: #373737;
    font-weight: 600;
    font-size: 20px;
    width: fit-content;
    cursor: pointer;
  }
  .getSongListText:hover {
    color: black;
  }
  .getSongListText::after {
    content: ">";
    margin-left: 5px;
  }

  .songlists,
  .newestSongList {
    width: 100%;
    height: auto;
    min-height: 100px;
    position: relative;
    overflow: hidden;
    .songlistLine,
    .newestSongLine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
    }
  }
}
